body {
  background-image: url('icon1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
header {
  text-align: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;   

}

main {
  text-align: left;
  margin: 20px;
}

form {
  width: 300px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color:   
#0069d9;
}

#errorMessage {
  color: red;
  margin-top: 10px;
}